version: '3.9'

services:
  mysql:
    image: mysql:8.0
    container_name: musicplace_mysql
    restart: always
    ports:
      - "13306:3306"  # 로컬에서 MySQL Workbench 등으로 접근 가능
    volumes:
      - ./db/mysql/data:/var/lib/mysql
      - ./db/mysql/init:/docker-entrypoint-initdb.d
    environment:
      MYSQL_ROOT_PASSWORD: ${DOCKER_MYSQL_PASSWORD}
      MYSQL_DATABASE: ${DOCKER_MYSQL_DATABASE}
      MYSQL_CHARSET: ${DOCKER_MYSQL_CHARSET}
      MYSQL_COLLATION: ${DOCKER_MYSQL_COLLATION}
      TZ: ${DOCKER_TZ}

  redis:
    image: redis:7.0
    container_name: musicplace_redis
    restart: always
    ports:
      - "16379:6379"  # 로컬에서 redis-cli 등으로 접근 가능
    volumes:
      - ./db/redis/data:/data
    command: ["redis-server", "--requirepass", "${DOCKER_REDIS_PASSWORD}"]
    environment:
      TZ: ${DOCKER_TZ}
