spring:
  datasource:
    url: ${MYSQL_URL}
    username: ${MYSQL_USERNAME}
    password: ${MYSQL_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    open-in-view: true
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate.format_sql: true
      dialect: org.hibernate.dialect.MySQLDialect

  sql:
    init:
      mode: always

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      password: ${REDIS_PASSWORD}

  server:
    port: 8080

# =================================
#        Monitoring / Metrics
# =================================
management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,metrics

  endpoint:
    health:
      show-details: always

  metrics:
    tags:
      application: music-place
    distribution:
      percentiles-histogram:
        http.server.requests: true   # ← ★ histogram 활성화 (필수)
      percentiles:
        http.server.requests: 0.5, 0.9, 0.95
    enable:
      jvm: true

  observations:
    http:
      server:
        requests:
          enabled: true              # ← HTTP 요청 관찰 활성화

  prometheus:
    metrics:
      export:
        enabled: true

  server:
    port: 8081
