<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOG_PATH" value="logs"/>

    <!-- ========================= -->
    <!-- Console -->
    <!-- ========================= -->
    <appender name="CONSOLE"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS}
                [%thread]
                %-5level
                [%X{traceId}]
                [%X{requestId}]
                [%X{userId}]
                %logger{36}
                - %msg%n
            </pattern>
        </encoder>
    </appender>


    <!-- ========================= -->
    <!-- 전체 로그(JSON) -->
    <!-- ========================= -->
    <appender name="JSON_FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>${LOG_PATH}/application.log</file>

        <rollingPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">

            <fileNamePattern>
                ${LOG_PATH}/archive/application.%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>

            <maxFileSize>100MB</maxFileSize>
            <maxHistory>14</maxHistory>
            <totalSizeCap>5GB</totalSizeCap>

        </rollingPolicy>

        <encoder
                class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">

            <providers>

                <timestamp fieldName="timestamp"/>
                <logLevel fieldName="level"/>
                <threadName/>
                <loggerName/>
                <message/>
                <mdc/>

                <stackTrace fieldName="stackTrace"/>

                <context/>

            </providers>

        </encoder>

    </appender>


    <!-- ========================= -->
    <!-- ERROR 전용 로그 -->
    <!-- ========================= -->
    <appender name="ERROR_FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>${LOG_PATH}/error.log</file>

        <rollingPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">

            <fileNamePattern>
                ${LOG_PATH}/error/error.%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>

            <maxFileSize>100MB</maxFileSize>

            <maxHistory>30</maxHistory>

            <totalSizeCap>5GB</totalSizeCap>

        </rollingPolicy>

        <!-- ERROR 이상만 기록 -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>

        <encoder
                class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">

            <providers>

                <timestamp fieldName="timestamp"/>

                <logLevel fieldName="level"/>

                <threadName/>

                <loggerName/>

                <message/>

                <mdc/>

                <stackTrace fieldName="stackTrace"/>

                <context/>

            </providers>

        </encoder>

    </appender>


    <!-- Hibernate SQL -->
    <logger name="org.hibernate.SQL" level="DEBUG"/>

    <!-- Bind Parameter -->
    <logger name="org.hibernate.orm.jdbc.bind" level="TRACE"/>

    <!-- Hikari -->
    <logger name="com.zaxxer.hikari" level="INFO"/>

    <!-- Spring JDBC -->
    <logger name="org.springframework.jdbc" level="INFO"/>

    <!-- Redis -->
    <logger name="io.lettuce" level="INFO"/>


    <!-- Root -->
    <root level="INFO">

        <appender-ref ref="CONSOLE"/>

        <appender-ref ref="JSON_FILE"/>

        <appender-ref ref="ERROR_FILE"/>

    </root>

</configuration>
